@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 50px);
}

.gridBox {
  grid-row: span 4;
}

.card {
  width: 15ch;
  height: 15ch;
  border-radius: 5px;
  background-size: cover;
  background-image: url("/images/linkedin.svg");
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid blue;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.card2 {
  width: 15ch;
  height: 15ch;
  border-radius: 5px;
  background-size: cover;
  background-image: url("/images/github.svg");
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid blue;
}

.card2:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
