@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(202, 190, 190);
}

#grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 25px;
}
